@import "../../styles/all.scss";

#led-main {
  .led-effects-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .led-effect-container {
      position: relative;
      width: 25vw;
      min-width: 380px;
      padding: 20px;
      padding-bottom: 0;
      background-color: var(--colorHighlightContent);
      margin: 10px;
      display: flex;
      flex-direction: column;
      box-shadow: $shaddowDefault;
      &:hover {
        box-shadow: $shaddowFocus;
      }
    }
  }
}

.bottom-button {
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: $shaddowDefault;
  background-color: var(--colorHighlightContent);
  &.add-button {
    right: 20px;
    font-size: 80px;
  }
  &.settings-button {
    right: 120px;
    font-size: 60px;
  }
  &:hover {
    box-shadow: $shaddowFocus;
  }
}

.add-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
  background: var(--colorHighlightContent);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  span.description {
    padding-bottom: 10px;
    display: block;
  }
  .add-dialog-items {
    display: flex;
    .add-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      min-width: 100px;
      cursor: pointer;
      .icon {
        font-size: 64px;
      }
      .icon1 {
        display: block;
      }
      .icon2 {
        display: none;
      }
      &:hover,
      &.selected {
        background-color: var(--colorMainBg);
        .icon1 {
          display: none;
        }
        .icon2 {
          display: block;
        }
      }
      &.selected {
        .icon {
          color: var(--colorHighlightColor1);
        }
      }
      span {
        padding-top: 15px;
        font-size: $fontSizeLarge;
      }
    }
  }
  .add-effect-lower {
    display: flex;
    align-items: flex-end;
    height: 80px;
    width: 100%;
    .textbox {
      flex-grow: 1;
    }
    .button-group {
      display: flex;
      .icon {
        font-size: 50px;
        padding-left: 10px;
      }
      :not(.disabled) {
        .icon {
          cursor: pointer;
          &:hover {
            color: var(--colorHighlightColor1);
          }
        }
      }
    }
  }
}

.dialog-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}
