<div>
  <div *ngFor="let player of lobby.players">
    <div *ngIf="player.lobbyOwner" class="role-icon">
      <i class="fal fa-crown"></i>
    </div>
    <div *ngIf="!player.lobbyOwner" class="role-icon">
      <i class="fal fa-user"></i>
    </div>
    <span>
      {{player.name}}
    </span>
  </div>
</div>


<div class="field">
  <svg id="pushy-field">
    <svg *ngFor="let row of field.squares; let x = index" [attr.x]="x * 55">
      <svg *ngFor="let square of row; let y = index" [attr.y]="y * 55">
        <rect width="50" height="50" style="fill:rgb(200,200,200);" *ngIf="square.squareType === PushySquareType.AIR">

        </rect>
        <rect width="50" height="50" style="fill:rgb(100,100,100);" *ngIf="square.squareType === PushySquareType.WALL">

        </rect>
        <rect width="50" height="50" style="fill:rgb(102, 43, 32);" *ngIf="square.squareType === PushySquareType.BOX">

        </rect>
        <rect x="5" y="5" width="40" height="40" style="fill:rgb(100,200,100);" *ngIf="square.figures?.length > 0">

        </rect>
      </svg>
    </svg>

  </svg>
</div>