<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hamoto</title>
    <style type="text/css">
        body {
            margin: 20;
            padding: 20;
            min-width: 100% !important;
        }

        .content {
            width: 100%;
            max-width: 600px;
        }
    </style>
</head>
<body yahoo bgcolor="#f6f8f1">
    <table width="100%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <b>Hallo wer-auch-immer-Du-bist,</b><br>
                <p>willkommen bei Hamoto. Jemand hat versucht Dein Passwort zurückzusetzen.</p><br>
                <p>Leider konnten wir keinen User zu dieser Mailadresse finden.</p><br>
                <p>Mit freundlichen Grüßen</p><br>
                <b>Dein Hamoto-Team</b>
            </td>
        </tr>
    </table>
</body>
</html>