<div class="led-effect-property-container">
  <ng-container [ngSwitch]="effectProperty.effectType">
    <div *ngSwitchCase="effectType.BOOL" class="no-select">
      <awd-checkbox
        (stateChanged)="madeChanges($event)"
        [(ngModel)]="boolProp.value"
        [labelText]="boolProp.name"
        [color]="theme.getColor('colorBgPrimary')"
        [inputTabIndex]="10 + boolProp.id"
      ></awd-checkbox>
    </div>
    <div *ngSwitchCase="effectType.COLOR">
      <awd-color-slider
        [(ngModel)]="colorProp.value"
        (valueChanged)="madeChanges($event)"
        [labelText]="colorProp.name"
        [name]="'color-prop-' + colorProp.id"
      >
      </awd-color-slider>
    </div>
    <div *ngSwitchCase="effectType.NUMBER">
      <awd-slider
        [(ngModel)]="numProp.value"
        (valueChanged)="madeChanges($event)"
        [min]="numProp.minVal"
        [max]="numProp.maxVal"
        [inputTabIndex]="10 + numProp.id"
        [name]="'num-prop-' + numProp.id"
        [labelText]="numProp.name"
      ></awd-slider>
    </div>
    <div *ngSwitchCase="effectType.STRING">
      <awd-textbox
        [(ngModel)]="stringProp.value"
        (valueChanged)="madeChanges($event)"
        [inputTabIndex]="10 + stringProp.id"
        [name]="'string-prop-' + stringProp.id"
        [placeholder]="stringProp.name"
      >
      </awd-textbox>
    </div>
  </ng-container>
</div>
