<div class="dialog-main" *ngIf="showDialog">
  <div class="dialog-row" *ngFor="let row of dialog.rows" [style]="cssVariablesStyle(row.elements.length)">
    <div class="dialog-element" *ngFor="let elem of row.elements">
      <ng-container [ngSwitch]="elem.type">
        <awd-textbox *ngSwitchCase="ElemType.TEXTBOX" [(ngModel)]="elem.model" [placeholder]="elem.label"
          [inputType]="elemTextBox(elem).constraint" [minValue]="5" [maxValue]="600"></awd-textbox>
        <awd-checkbox *ngSwitchCase="ElemType.CHECKBOX" [(ngModel)]="elem.model" [labelText]="elem.label">
        </awd-checkbox>
        <span *ngSwitchCase="ElemType.TEXT">{{elem.label}}</span>
        <button *ngSwitchCase="ElemType.BUTTON" (click)="performAction(elem)">{{elem.label}}</button>
      </ng-container>
    </div>
  </div>
</div>
<div class="dialog-bg" *ngIf="showDialog"></div>