<form class="register" #register="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
  <span class="description">
    {{'account.register.description' | translate}}
  </span>
  <div class="input-loading-container">
    <div class="input-container">
      <awd-textbox [fontSize]="24" [inputType]="inputType.TEXT"
        [placeholder]="'account.register.form.username.name' | translate" [name]="'username'" id="username"
        [icon]="'user'" [icon2]="'user-ninja'" [(ngModel)]="registerModel.username" [inputTabIndex]="1" required
        [minLength]="4" [maxLength]="20" [pattern]="'^[a-zA-Z0-9]{4,20}$'"
        [validationDefinitions]="validationDefinitionUsername" [disabled]="clickedButton">
      </awd-textbox>
      <awd-textbox [fontSize]="24" [inputType]="inputType.EMAIL"
        [placeholder]="'account.register.form.email.name' | translate" [name]="'email'" id="email" [icon]="'envelope'"
        [icon2]="'envelope-open'" [(ngModel)]="registerModel.email" [inputTabIndex]="2" required
        [pattern]="'^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*$'"
        [validationDefinitions]="validationDefinitionEmail" [disabled]="clickedButton">
      </awd-textbox>
      <awd-textbox [fontSize]="24" [inputType]="inputType.TEXT"
        [placeholder]="'account.register.form.firstname.name' | translate" [name]="'firstname'" id="firstname"
        [icon]="'user'" [icon2]="'user-edit'" [(ngModel)]="registerModel.firstname" [inputTabIndex]="3" required
        [disabled]="clickedButton">
      </awd-textbox>
      <awd-textbox [fontSize]="24" [inputType]="inputType.TEXT"
        [placeholder]="'account.register.form.lastname.name' | translate" [name]="'lastname'" id="lastname"
        [icon]="'user'" [icon2]="'user-edit'" [(ngModel)]="registerModel.lastname" [inputTabIndex]="4" required
        [disabled]="clickedButton">
      </awd-textbox>
      <awd-textbox [fontSize]="24" #password [inputType]="inputType.PASSWORD"
        [placeholder]="'account.register.form.password.name' | translate" [icon]="'lock'" [icon2]="'lock-open'"
        [name]="'password'" id="password" [(ngModel)]="registerModel.password" [inputTabIndex]="5" required
        [minLength]="8" [pattern]="'^(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W\\d]).*$'"
        [validationDefinitions]="validationDefinitionPassword" [disabled]="clickedButton">
      </awd-textbox>
      <awd-textbox [fontSize]="24" [inputType]="inputType.PASSWORD"
        [placeholder]="'account.register.form.password2.name' | translate" [icon]="'lock'" [icon2]="'lock-open'"
        [name]="'password2'" id="password2" [(ngModel)]="registerModel.password2" [shouldMatch]="password.value"
        [validationDefinitions]="validationDefinitionPassword2" [inputTabIndex]="6" required [disabled]="clickedButton">
      </awd-textbox>
    </div>
    <awd-loading [class.hidden]="!clickedButton" [scale]="2"></awd-loading>
  </div>
  <input type="submit" class="submit" tabindex="7" [disabled]="registerDisabled"
    value="{{'account.register.form.submit.name' | translate}}">
</form>

<span *ngIf="errorMessageKey">{{'account.register.error.' + errorMessageKey | translate}}</span>