/* You can add global styles to this file, and also import other style files */

@import "styles/all.scss";

* {
  font-family: $FontMain;
}

body,
html {
  font-weight: $fontWeightNormal;
  font-size: $fontSizeNormal;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: $colorCharcoalGray;
  color: $colorPaperWhite;
}

body {
  overflow-y: auto;
  margin: 0;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

input[type="submit"],
button,
.button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  color: $colorPaperWhite;
  background: $colorCharcoalGray;
  box-shadow: 0 0 0 3px $colorHighlightColor1 inset;
  font-size: $fontSizeNormal;
  transition: box-shadow 75ms linear;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 3px $colorHighlightColor2 inset;
  }
  &:disabled {
    box-shadow: 0 0 0 3px $colorHighlightGray inset;
    cursor: default;
  }
}

.color-svg svg *,
svg.color-svg * {
  fill: url(#svg-gradient);
}

#svg-gradient-element {
  position: absolute;
}

#gradient-1 {
  stop-color: $colorHighlightColor1;
  stop-opacity: 1;
}

#gradient-2 {
  stop-color: $colorHighlightColor2;
  stop-opacity: 1;
}
