<form class="reset" #reset="ngForm" (ngSubmit)="onSubmit()">
  <span class="description">
    {{'account.newPassword.description' | translate}}
  </span>
  <div class="input-loading-container">
    <div class="input-container">
      <awd-textbox [fontSize]="24" [inputType]="inputType.PASSWORD"
        [placeholder]="'account.newPassword.form.newPassword.name' | translate" [name]="'newPassword'"
        [(ngModel)]="resetPw.newPassword" [inputTabIndex]="1" [icon]="'lock'" [icon2]="'lock-open'"
        [pattern]="'^(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W\\d]).*$'" [minLength]="8"
        [validationDefinitions]="validationDefinitionPassword" required [disabled]="clickedButton"></awd-textbox>
      <awd-textbox [fontSize]="24" [inputType]="inputType.PASSWORD"
        [placeholder]="'account.newPassword.form.newPasswordConfirmation.name' | translate"
        [name]="'passwordConfirmation'" [(ngModel)]="pwConf" [inputTabIndex]="2" [icon]="'lock'" [icon2]="'lock-open'"
        [shouldMatch]="resetPw.newPassword" [validationDefinitions]="validationDefinitionPassword2" required
        [disabled]="clickedButton"></awd-textbox>
    </div>
    <awd-loading [class.hidden]="!clickedButton" [scale]="2"></awd-loading>
  </div>
  <input class="submit" type="submit" tabindex="3" [disabled]="resetDisabled">
</form>