.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.input-loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(2, 75px);
  grid-column-gap: 5px;
}

span.description {
  padding-bottom: 20px;
  display: inline-block;
}

.awd-loading {
  position: absolute;
  pointer-events: none;
  transition: opacity cubic-bezier(0.26, 0.14, 0.01, 0.98) 200ms;

  &.hidden {
    opacity: 0;
    transition: opacity cubic-bezier(0.26, 0.14, 0.01, 0.98) 600ms;
  }
}
