<div class="led-effect-property-container">
  <ng-container [ngSwitch]="effectProperty.effectType">
    <div *ngSwitchCase="effectType.BOOL" class="no-select">
      <awd-checkbox [(ngModel)]="boolProp.value" [labelText]="boolProp.name"
        [color]="theme.getColor('colorCharcoalGray')" [inputTabIndex]="10 + boolProp.id"></awd-checkbox>
    </div>
    <div *ngSwitchCase="effectType.COLOR">
      <awd-color-slider [(ngModel)]="colorProp.value"></awd-color-slider>
    </div>
    <div *ngSwitchCase="effectType.NUMBER">
      <awd-slider [(ngModel)]="numProp.value" [min]="numProp.minVal" [max]="numProp.maxVal"
        [inputTabIndex]="10 + numProp.id" [name]="'bool-prop-' + numProp.id" [labelText]="numProp.name"></awd-slider>
    </div>
  </ng-container>
</div>