$colorCharcoalGray: rgba(26, 25, 25, 1);
$colorPaperWhite: rgba(242, 239, 234, 1);
$colorPaperGray: rgb(117, 115, 110);
$colorHighlightGray: rgb(40, 40, 46);
$colorHighlightPink: rgb(255, 0, 144);
$colorHighlightBlue: rgb(0, 145, 255);
$colorErrorRed: rgb(238, 31, 16);
