$colorCharcoalGray: rgba(26, 25, 25, 1);
$colorPaperWhite: rgba(242, 239, 234, 1);
$colorPaperGray: rgb(117, 115, 110);
$colorHighlightGray: rgb(40, 40, 46);
$colorHighlightYellow: rgba(255, 166, 0, 1);
$colorHighlightOrange: rgb(255, 72, 0);
$colorErrorRed: rgb(238, 31, 16);
