.loading-container {
  display: flex;
  margin: 0 auto;
  pointer-events: none;
  div {
    pointer-events: none;
    height: 100%;
    animation: strech-keyframes 1.2s infinite ease-in-out;
    &.rect2 {
      animation-delay: -1.1s;
    }
    &.rect3 {
      animation-delay: -1s;
    }
    &.rect4 {
      animation-delay: -0.9s;
    }
    &.rect5 {
      animation-delay: -0.8s;
    }
  }
}

@keyframes strech-keyframes {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
