<div id='menu-container' [class.opened]="opened">
  <div class="menu-item" id="menu-controls" (click)="toggleMenu()">
    <div class="icon-container">
      <div [class.icon-hidden]="!opened" class="icon-switch" id="close-icon">
        <i class="color-svg icon fal fa-times"></i>
      </div>
      <div [class.icon-hidden]="opened" class="icon-switch">
        <i class="color-svg  icon fal fa-chevron-right"></i>
      </div>
    </div>
    <span class="text">Close</span>
  </div>
  <div class="menu-item">
    <div class="icon-container">
      <i class="color-svg  icon fal fa-home" aria-hidden="true"></i>
    </div>
    <span class="text">Home</span>
  </div>
  <div class="menu-item">
    <div class="icon-container">
      <i class="color-svg icon fal fa-ballot-check"></i>
    </div>
    <span class="text">Vote</span>
  </div>
</div>